<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
  <p style="text-align: center">
    {{statusMessages}}
  </p>

<ul class="nav nav-pills justify-content-center" *ngIf = "this.isAddEventButtonVisible">
  <li class="nav-item" (click) = "getOpenEvents()">
    <a class="nav-link">Open</a>
  </li>
  <li class="nav-item" (click) = "getClosedEvents()">
    <a class="nav-link">Approved</a>
  </li>
</ul>

<div class="container-login-form-btn" *ngIf="this.isAddEventButtonVisible">
  <button class="login-form-btn" style="float:right" routerLink="/addEvent/">
    Add Event
  </button>
</div>

<app-eventcard *ngIf = "events" [events] = "events"> </app-eventcard>

</body>
</html>
