
.card{
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 80px;

}

.card .card-block .card-title{
  font-size: 22px;
  font-family: 'Mukta Mahee', sans-serif;

}
.card .card-block .card-text{
  font-size: 14px;
  font-family: 'Mukta Mahee', sans-serif;

}

.nav-pills{
  margin-top: 80px;
  text-align: center;
  margin-bottom: 50px;
}
