<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Event Detail Page</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main">
      <div class="col-md-12 heading"><h2>{{ currentEvent.title }}</h2></div>
      <div class="col-md-12 header">
          <div class="col-md-2 offset-md-1 profile">
            <div class="col-md-10 offset-md-1 img">
              <img src="../../assets/images/1-512.png" height="190px" width="190px" style="margin-left: -35px">
            </div>
          </div>
           <div class="col-md-2  Profileheading">
           <p></p></div>
      </div>

      <div class="col-md-12 details">
        <div class="col-md-6 eventdetails">
          <h4 style="color:dodgerblue;margin-bottom: 20px;font-weight: 900">
            Event hosted at: {{locName}}</h4>
          <h4 style="color: #c80000;margin-bottom: 20px">Number of Volunteers Needed :  {{ currentEvent.NumOfVolunteersNeeded }} </h4>
          {{ currentEvent.Description }}
          <textarea style="height: 200px;width: 100%" *ngIf = "this.showApplyControls" 
          name = "Comments" [(ngModel)] = "this.Comments" required>
          </textarea>
          <button type="submit" *ngIf = "this.showApplyControls" (click) = "applyEvent()">Apply</button>
        </div>
        <div class="col-md-6 calender"></div>
      </div>

      <div class="col-md-12 volunteer">
        <div class="col-md-12 volunteerheading" style="font-weight: 900;text-align: center">
          <h2> Applied Volunteers </h2>
          <button type="submit" *ngIf = "this.showApproveControls" (click) = "approveEvent()">
            Approve Selected Volunteers</button>
        </div>
      </div>
      <div class="col-md-12">
        <div *ngFor = "let appliedVol of appliedVolunteers">
              <div class="col-md-3">
                  <input type = "checkbox" name = "includeVol" *ngIf = "this.isVisibleToStaff" 
                  (change) = "OnCheckboxSelect(appliedVol.volunteerId, $event)"
                  [disabled] = "!this.showApproveControls" 
                  [(ngModel)] = "appliedVol.IsVolunteerIncluded" />
                  <div class="">
                    <img src="../../assets/images/geek_male-512.png" height="160px" width="160px">
                  </div>
                  <div class="studentdetail">
                    <p>
                      Hi, I'm {{ appliedVol.VolunteerName }}; {{ appliedVol.Comments }}
                      <a class="txt2" routerLink="/volProfile/" [queryParams] = "{ volId : appliedVol.volunteerId }">View Profile</a>
                    </p>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
