
.heading{
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: blue;
  margin-top: 30px;
}

.header{
  height: 250px;
  margin-top: 15px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
}

.profile{
  height: 150px;
  margin-top: 120px;
  width: 180px;
  z-index: 1;
}

.Profileheding{
  font-size: 15px;
  font-weight: 600;
  margin-top: 55px;
  margin-left: 125px;
}

.details{
  margin-top: 150px;
}

.eventdetails ul li{
  font-size: 18px;
}

.eventdetails button{
  background-color: #c80000;
  color: white;
  border: none;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
}


.volunteer{
  padding: 15px;
  height: auto;
  margin-top: 50px
}

.volunteer .volunteerheading{
  background-color: #e6e6e6;
  font-family: NanumGothic;
  height: 70px;
  padding: 15px;
  border-radius: 10px;
}

.volunteerprofile{
  margin-right: 50px;
  margin-top: 50px;
}



.volunteerprofile:hover {
  margin-right: 50px;
  margin-top: 50px;
  transform: scale(1.1);
}


.volunteerprofile .img{
  height: 160px;
  width: 160px;
  margin-left: 100px;
  margin-top: 15px
}

.studentdetail{
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid #fdfdfd;
  background-color: white;
  font-family: NanumGothic;
}


.eventdetails p{
  font-weight: 900;
}
