<!DOCTYPE html>
<html lang="en">
<head>
  <title>Volunteer Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/0221d6e869.js"></script>
</head>
<body>
  <div class="container-login">
    <div class="wrap-login">

      <div class="login-pic js-tilt" data-tilt>
        <img src="../../assets/images/1.png" alt="IMG">
      </div>

      <form class="login-form validate-form" #loginForm = "ngForm" ngNativeValidate>

				  <span class="login-form-title">
						User Login
          </span>
          
        <div class="wrap-input validate-input">
          <input class="input" type="text" name="username" placeholder="Username" 
            [(ngModel)] = "userCredentials.Username" required>
          <span class="focus-input"></span>
          <span class="symbol-input">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
        </div>

        <div class="wrap-input validate-input" data-validate = "Password is required">
          <input class="input" type="password" name="pass" placeholder="Password"
          [(ngModel)] = "userCredentials.Password" required>
          <span class="focus-input"></span>
          <span class="symbol-input">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>

        <div class="container-login-form-btn">
          <button class="login-form-btn" (click) = "userLogin()">
            Login
          </button>
        </div>
        <div class="text-center ">
          <a class="txt2" routerLink = "/signup/">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
