<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>User Preferences</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 pic">
      <div>
        <img src="../../assets/images/Calvin.png" width="350" height="350">
      </div>

    </div>
    <div class="col-md-6 col-sm-6 eventform">

      <div class="event">
        <h2>User Preference</h2>
      </div>

      <form action="" method="post" ng>        
        <div class="form-group" >
          <label>Location</label>
          <select class="form-control" [(ngModel)] = "selectedLocation" name = "location" (change)="locChanged($event.target.value)">
            <option *ngFor = "let loc of locations" [ngValue] = "loc">{{loc.Name}}</option>
          </select>
        </div>

        <div id = "volPreferences" *ngIf = "!this.isVisibleToStaff">
          <div class="form-group">
            <label>Type Of Event</label>
            <select class="form-control" [(ngModel)] = "selectedTypeOfEvent" name = "TypeOfEvent">
              <option *ngFor = "let type of typeOfEvents" [ngValue] = "type">{{type.value}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Event Days</label>
            <select class="form-control" [(ngModel)] = "selectedEventDay" name = "EventDays">
              <option *ngFor = "let day of EventDays" [ngValue] = "day">{{day.value}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Select Staff Member</label>
            <select class="form-control" [(ngModel)] = "selectedStaffMember" name = "staffMember">
              <option *ngFor = "let staff of staffMembers" [ngValue] = "staff">{{staff.user.Username}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Work Experience</label>
            <textarea type="text" id="workexperience" name="workexperience" placeholder="Work Experience" class="form-control" style="height: 100px"></textarea>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Start Time</label>
                  <select class="form-control" [(ngModel)] = "selectedStartTime" name = "Start Time">
                    <option *ngFor = "let time of timings" [ngValue] = "time">{{time.value}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>End Time</label>
                  <select class="form-control" [(ngModel)] = "selectedEndTime" name = "End Time">
                    <option *ngFor = "let time of timings" [ngValue] = "time">{{time.value}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success" (click) = "saveUserPref()">Save and Next</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
