<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Events</title>
</head>
<body>

<div class="container">
  <div class="row">
      <div class="col-md-6 col-sm-6 pic">
        <div>
          <img src="../../assets/images/Calvin.png" width="350" height="350">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 eventform">

        <div class="event">
          <h2>Add Event Details</h2>
        </div>

        <form action="" method="post" name = "eventForm" ngNativeValidate>
          <div class="form-group">
            <label>Event Title</label>
            <input type="text" id="title" [(ngModel)] = "event.title" name="title" placeholder="Title" 
            class="form-control" required>
          </div>

          <div class="form-group">
            <label>Event Description</label>
            <textarea type="text" id="description" [(ngModel)] = "event.Description" name="Description" 
            style="height: 100px" placeholder="Description" class="form-control" required></textarea>
          </div>


          <div class="form-group">
            <label>Event Start Date</label>
            <input type="date" id="Startdate" name="Start Date" [(ngModel)] = "event.StartDateTime"  
            placeholder="Start Date" class="form-control" required>
          </div>


          <div class="form-group" >
            <label>Event End Date</label>
            <input type="date" id="Enddate" name="End Date" [(ngModel)] = "event.EndDateTime"  
            placeholder="End Date" class="form-control" required>
          </div>


          <div class="form-group">
            <label>Number Of Volunteers Needed</label>
            <input type="number" id="Numberofvolunteer" [(ngModel)] = "event.NumOfVolunteersNeeded"  
            name="Volunteer" placeholder="Number Of Volunteer Needed" class="form-control">
          </div>


          <div class="form-group">
            <label>Rejected Reason</label>
            <input type="text" id="Rejected" [(ngModel)] = "event.RejectedReason"  name="rejected" class="form-control">
          </div>


          <div class="form-group">
            <label>Accepted Reason</label>
            <input type="text" id="acceptedreason" [(ngModel)] = "event.AcceptedMessage" name="acceptedreason"  class="form-control">
          </div>

          
          <div class="form-group">
            <label>Location</label>
            <select class="form-control" [(ngModel)] = "selectedLocation" name = "location" required>
              <option *ngFor = "let loc of locations" [ngValue] = "loc">{{loc.Name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Type Of Event</label>
            <select class="form-control" [(ngModel)] = "selectedTypeOfEvent" name = "TypeOfEvent" required>
              <option *ngFor = "let type of typeOfEvents" [ngValue] = "type">{{type.value}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Event Days</label>
            <select class="form-control" [(ngModel)] = "selectedEventDay" name = "EventDays" required>
              <option *ngFor = "let day of EventDays" [ngValue] = "day">{{day.value}}</option>
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-success" (click) = "addEvent()">Add Event</button>
          </div>

        </form>
      </div>
  </div>
</div>
</body>
</html>
