.form{
  height: 300px;
  border: 1px solid red;
}

.pic{
  height: 450px;
  margin-top: 200px;
}
.event h2{color: green;font-size: 30px!important;
  font-family:'Mukta Mahee', sans-serif;
  margin-bottom: 50px;
  font-weight: 600;
}
.eventform{
  margin-top: 20px;
  padding: 15px;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
  margin-bottom: 20px;
}

.eventform input{
  margin-bottom: 10px;
}
