

body {
  height: 100%;

}

a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}



.container-profile {
  width: 100%;
  min-height: 100vh;
}

.wrap-profile {
  width: 100%;
  background: #fff;
  height: 180px;
  position: absolute;
  z-index: -5;
}

.profilepic{
  height: 300px;
  margin-top: 120px;
  position: relative;
  margin-left: 75px;
  background-color: #57b846;
  padding: 0px;
}

.wrap-profile .profilepic img{
  margin-left: -15px;
}

.wrap-profile .name{
  height: 60px;
  margin-top: -270px;
  margin-left: 250px;
  padding: 15px;
  font-weight: 900;
  color: #333333;
  font-size: 25px;
  background-color: white;
  border-radius: 2px;
  z-index: 5;
  font-family: 'Mukta Mahee', sans-serif;
}


.social{
  float: right!important;
  margin-top: 170px;
  margin-right: 50px;
 }

.social i{
  font-size: 20px;
  margin-right: 15px;
  float: right;
}

.aboutus{
  height: 150px;
  margin-top: 20px;
  margin-left: 500px;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
}

.aboutus p{
  font-size: 22px;
  color: white;
  font-family:NanumGothic;
  text-align: center;
}


.main{
  margin-top: 100px;
  padding: 10px;
}


.main .contactdetails{
 width: 310px!important;
  height: 350px;
  margin-left: 85px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.contactdetails ul li{
  font-weight: 600;
  margin-top: 20px;
  color: black;
  margin-left: -40px;
  font-size: 16px;
  float: right;
}


.contactdetails ul li span{
  font-weight: 600;
  color: red;
  font-size: 16px;
}

.rating{
  text-align: center;
  height: 60px;
  float: bottom;
  border-radius: 5px;
  bottom: 0;
  padding: 10px;
  font-size: 26px;
  background-color: #e6e6e6;
  position: fixed;
  margin-top: 50px;
}

.rating:hover{
  transform: scale(1.2);
  color: #c80000;
}

.events{
  float: right!important;
  margin-bottom: 50px;
  margin-right: 70px;
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
}

.events1{
  float: right!important;
  text-align: center;
  margin-right: 70px;
}

.card{
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 20px;

}

.card .card-block .card-title{
  font-size: 26px;
  font-family: 'Mukta Mahee', sans-serif;

}
.card .card-block .card-text{
  font-size: 18px;
  font-family: 'Mukta Mahee', sans-serif;

}


@media only screen and (max-width: 950px) {
  body {
    background-color: lightblue;
  }

.events{
  margin-left: -50px;
  margin-top: 50px;
  margin-right: -10px;
}


.events .card{
  margin-left: 50px;
  margin-top: 50px;

}

  .events1{
    margin-left: -50px;
    margin-top: 50px;
    margin-right: -10px;
  }


  .events1 .card{
    margin-left: 50px;
    margin-top: 50px;

  }


  .aboutus{
  margin-top: 250px;
  margin-left: -10px;
  height: 330px;
  text-align: center;

}


.social{
  width: 150px;
  text-align: left;
  margin-top: 250px;
}


.main .contactdetails{
  margin-top: -80px;
  height: 300px;
  margin-left: 40px;

}


  .main .contactdetails .rating{
    margin-top: 180px;
  }


.profilepic{
  margin-left: -20px;

}

.name{
  margin-left: -30px;
  margin-top: 50px;
}

.heading{
  border: 1px solid red;
}

}
