<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/0221d6e869.js"></script>

</head>
<body>

  <div class="container-signup">
    <div class="wrap-signup">
      <div class="signup-pic js-tilt" data-tilt>
        <img src="../../assets/images/1.png" alt="IMG">
      </div>

      <form class="signup-form validate-form" style="margin-top: -150px" ngNativeValidate>
					<span class="signup-form-title">
            {{ title }}
					</span>

        <div class="wrap-input validate-input" data-validate = "Valid email is required: ex@abc.xyz">

          <input class="input" type="text" name="name" placeholder="Name" style="margin-bottom:10px "
          [(ngModel)] = "user.Username" required>
          <input class="input" type="email" name="email" placeholder="Email" style="margin-bottom:10px "
          [(ngModel)] = "user.Email" required>
          <!-- input class="input" type="text" name="location" placeholder="Location" style="margin-bottom:10px " -->
          <input class="input" type="text" name="number" placeholder="Mobile Number" style="margin-bottom:10px "
          [(ngModel)] = "user.PhoneNumber" required>
          <!--input class="input" type="text" name="skills" placeholder="Skill Set" style="margin-bottom:10px " -->
          <!-- input class="input" id="input" type="text" name="address" placeholder="Address" style="margin-bottom:10px "
          -->
        </div>

        <div class="wrap-input validate-input" data-validate = "Password is required">
          <input class="input" type="password" name="password" placeholder="Password"  [(ngModel)] 
          = "user.Password" required>
          <span class="focus-input"></span>
          <span class="symbol-input">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>

        <div class="radio" style="margin-bottom: 50px;padding: 15px">
          <label  style="float: left ;font-size: 20px"><input type="radio" name="staff"
            value = "1" [(ngModel)] = "user.RoleId" > Staff</label>
          <label style="float: right;font-size: 20px"><input type="radio" name="volunteer"
            value = "2" [(ngModel)] = "user.RoleId" > Volunteer</label>
        </div>
      
        <div class="container-signup-form-btn">
          <button class="signup-form-btn" (click) = "userSignup()" [disabled] = "!form.valid">
            Sign up
          </button>
        </div>
        <div class="text-center p-t-136" style="text-align: center">
          <a class="txt2" routerLink="/login/">
            Already have Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
