<h1>Everything is not working</h1>

<router-outlet></router-outlet>
<nav>
    <!-- <a routerLink="/authentication">Auth check basic route</a> -->
    <a [routerLink]="['/authentication/signin']" >auth check baci route</a>
</nav>