
<div class="col-md-12" *ngFor= "let eventDetail of events; let i = index" 
          [(ngModel)]= "events"  name = "eventcards" ngDefaultControl>
              <div class="row" *ngIf="i % 3 === 0" > 
                  <div class="card-block" *ngFor="let eventDetail of [events[i],events[i+1],events[i+2]]" 
                  class = "col-md-4 offset-xs-2">
                      <img class="card-img-top" src="../../assets/images/event.jpg" alt="Card image cap" width="150" height="150">
                      <h4 class="card-title">{{eventDetail.title}}</h4>
                      <p class="card-text">{{eventDetail.Description}}</p>
                      <button class="btn btn-primary" (click)= "showEventDetail(eventDetail)">
                          {{eventDetail.StartDateTime | date : "mediumDate"}} to {{eventDetail.EndDateTime | date : "mediumDate"}}
                      </button>
                  </div>
              </div>
    <br/>
</div>

